<TMPL_INCLUDE NAME="header.tmpl">

<div id="header">
    <h1><MT_TRANS phrase="Weblogs"></h1>
    <div class="home"><a href="<TMPL_VAR NAME=SCRIPT_BASE_URL>"><img src="<TMPL_VAR NAME=STATIC_URI>images/iphone/buttons/global/home.png" alt="<MT_TRANS phrase="Home">" width="30" height="26" /></a></div>
    <div class="site"><a href="<TMPL_VAR NAME=USER_SITE_URL>" target="_blank"><img src="<TMPL_VAR NAME=STATIC_URI>images/iphone/buttons/global/site.png" alt="<MT_TRANS phrase="View site">" width="30" height="26" /></a></div>
</div>
<div id="content">
    <TMPL_IF NAME=DELETED>
        <div class="success-message message">
            <div class="message-content">
                <p><MT_TRANS phrase="Your selected weblog has been deleted."></p>
            </div>
        </div>
    </TMPL_IF>
    <TMPL_IF NAME=TOO_MANY_BLOGS>
        <div class="error-message message">
            <div class="message-content">
                <p class="message"><MT_TRANS phrase="You cannot create any more weblogs"></p>
            </div>
        </div>
    </TMPL_IF>
    <TMPL_IF NAME=SAVED>
        <div class="success-message message">
            <div class="message-content">
                <p><MT_TRANS phrase="The default weblog for your site has been changed."></p>
            </div>
        </div>
    </TMPL_IF>
    <TMPL_IF NAME=BLOG_LOOP>
        <ul class="list">
            <TMPL_LOOP NAME=BLOG_LOOP>
                <li class="list-item">
                    <a href="<TMPL_VAR NAME=SCRIPT_URL>/manage?blog_id=<TMPL_VAR NAME=BLOG_ID>">
                        <span class="list-item-inner">
                            <span class="list-item-label"><TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML></span>
                        </span>
                    </a>
                </li>
            </TMPL_LOOP>
        </ul>
    <TMPL_ELSE>
        <div class="empty-item">
            <div class="item">
                <p class="none"><MT_TRANS phrase="You currently do not have any weblogs."></p>
            </div>
        </div>
    </TMPL_IF>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
