<div class="copyright"><a href="<TMPL_VAR NAME=SCRIPT_BASE_URL>"><TMPL_IF NAME=PORTAL_LABEL><TMPL_VAR NAME=PORTAL_LABEL ESCAPE=HTML><TMPL_ELSE><MT_TRANS phrase="Movable Type"></TMPL_IF></a> &#169; 2007 Six Apart, Ltd.<br />All Rights Reserved.</div>
