<TMPL_INCLUDE NAME=header.tmpl>

<div id="header">
    <h1><MT_TRANS phrase="Are you sure?"></h1>
</div>
<div id="content">
    <form method="post" action="<TMPL_VAR NAME=SCRIPT_URL>">
        <input type="hidden" name="session_id" value="<TMPL_VAR NAME=SESSION_ID>" />
        <input type="hidden" name="media" value="handheld" />
        <input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID ESCAPE=HTML>" />
        <input type="hidden" name="_type" value="<TMPL_VAR NAME=TYPE ESCAPE=HTML>" />
        <input type="hidden" name="__mode" value="delete" />
        <TMPL_IF NAME=OFFSET>
            <input type="hidden" name="offset" value="<TMPL_VAR NAME=OFFSET ESCAPE=HTML>" />
        </TMPL_IF>
        <input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN ESCAPE=HTML>" />
        <TMPL_IF NAME=MAIN>
            <input type="hidden" name="main" value="1" />
        </TMPL_IF>
        <TMPL_LOOP NAME=ID_LOOP>
            <input type="hidden" name="id" value="<TMPL_VAR NAME=ID ESCAPE=HTML>" />
        </TMPL_LOOP>
        <div class="warning-message message">
            <div class="message-content">
                <p>
                    <TMPL_IF NAME=TYPE_COMMENT><MT_TRANS phrase="You've indicated that you would like to delete the comment(s):"></TMPL_IF>
                    <TMPL_IF NAME=TYPE_PING><MT_TRANS phrase="You've indicated that you would like to delete the ping(s):"></TMPL_IF>
                    <TMPL_IF NAME=TYPE_PING_CAT><MT_TRANS phrase="You've indicated that you would like to delete the ping(s):"></TMPL_IF>
                    <TMPL_IF NAME=TYPE_ENTRY><MT_TRANS phrase="You've indicated that you would like to delete the post/posts:"></TMPL_IF>
                    <TMPL_IF NAME=TYPE_TEMPLATE><MT_TRANS phrase="You've indicated that you would like to delete the template(s):"></TMPL_IF>
                    <TMPL_IF NAME=TYPE_TEMPLATESET><MT_TRANS phrase="You've indicated that you would like to delete the template set(s):"></TMPL_IF>
                    <TMPL_IF NAME=TYPE_CATEGORY><MT_TRANS phrase="You've indicated that you would like to delete the following category/categories. When you delete a category, all entries assigned to that category will be unassigned from that category."></TMPL_IF>
                    <TMPL_IF NAME=TYPE_TEMPLATEMAP><MT_TRANS phrase="You've indicated that you would like to delete the following template(s) from the particular archive type(s):"></TMPL_IF>
                    <TMPL_IF NAME=TYPE_PERMISSION><MT_TRANS phrase="You've indicated that you would like to delete the following author(s) from your weblog:"></TMPL_IF>
                    <TMPL_IF NAME=TYPE_INVITE><MT_TRANS phrase="You've indicated that you would like to delete the following invitation(s):"></TMPL_IF>
                    <TMPL_IF NAME=TYPE_BLOG><MT_TRANS phrase="You've indicated that you would like to delete the following weblog(s). When you delete a weblog, all of the entries, comments, and author permissions are deleted along with the weblog itself, along with the published archives."></TMPL_IF>
                </p>
                <ul>
                    <TMPL_LOOP NAME=NAMES>
                        <TMPL_IF NAME=NAME>
                            <li><TMPL_VAR NAME=NAME ESCAPE=HTML></li>
                        </TMPL_IF>
                    </TMPL_LOOP>
                </ul>
                <p>
                    <MT_TRANS phrase="This change can not be undone.">
                    <MT_TRANS phrase="Are you sure you want to delete these items?">
                </p>
            </div>
        </div>
        <div class="button-bar">
            <input type="submit" value="<MT_TRANS phrase="Yes, Delete">" class="delete-button button" />
            <a href="<TMPL_VAR NAME=SCRIPT_PARENT_URL>?__mode=<TMPL_VAR NAME=RETURN ESCAPE=HTML>&amp;blog_id=<TMPL_VAR NAME=BLOG_ID ESCAPE=HTML><TMPL_LOOP NAME=ID_LOOP>&amp;id=<TMPL_VAR NAME=ID ESCAPE=HTML></TMPL_LOOP><TMPL_IF NAME=OFFSET>&amp;offset=<TMPL_VAR NAME=OFFSET ESCAPE=HTML></TMPL_IF>" class="cancel-button button"><MT_TRANS phrase="No, Cancel"></a>
        </div>
    </form>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
