<div id="footer">
<TMPL_INCLUDE NAME="copyright.tmpl">
    <TMPL_IF NAME=USER_ID>
        <div class="logout"><a href="<TMPL_VAR NAME=SCRIPT_BASE_URL>?__mode=logout" onclick="return confirmLogout( '<MT_TRANS phrase="Are you sure you want to sign out?" escape="js">' )"><img src="<TMPL_VAR NAME=STATIC_URI>images/iphone/buttons/global/logout.png" alt="<MT_TRANS phrase="Sign out">" width="20" height="20" /></a></div>
    </TMPL_IF>
</div>
</body>
</html>
